@using WebBanlaptop.Models
@model KHACHHANG
@{
    ViewBag.Title = "DangKy";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colorlib Templates">
    <meta name="author" content="Colorlib">
    <meta name="keywords" content="Colorlib Templates">

    <!-- Title Page-->
    <title>Đăng ký tài khoản</title>

    <!-- Icons font CSS-->
    <link href="~/Content/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="~/Content/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="~/Content/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/Content/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="~/Content/css/main.css" rel="stylesheet" media="all">
</head>

<body>
    <div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
        <div class="wrapper wrapper--w790">
            <div class="card card-5">
                <div class="card-heading">
                    <h2 class="title">Đăng Ký Thành Viên</h2>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm())

                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <div class="form-row">
                            <div class="name">Họ Và Tên</div>
                            <div class="value">
                                <div class="input-group">
                                    @Html.TextBox("TENKH", "", new { @class = "input--style-5" })
                                    @Html.ValidationMessageFor(Model => Model.TENKH)

                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Địa Chỉ</div>
                            <div class="value">
                                <div class="input-group">
                                    @Html.TextBox("DIACHI", "", new { @class = "input--style-5" })
                                    @Html.ValidationMessageFor(Model => Model.DIACHI)
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Tên Tài Khoản</div>
                            <div class="value">
                                <div class="input-group">
                                    @Html.TextBox("USERNAME", "", new { @class = "input--style-5" })
                                    @Html.ValidationMessageFor(Model => Model.USERNAME)
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Mật Khẩu</div>
                            <div class="value">
                                <div class="input-group">
                                    @Html.Password("PASSWORD", "", new { @class = "input--style-5" })
                                    @Html.ValidationMessageFor(Model => Model.PASSWORD)
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Nhập Lại Mật Khẩu</div>
                            <div class="value">
                                <div class="input-group">
                                    @Html.Password("NHAPLAIPASSWORD", "", new { @class = "input--style-5" })
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Email</div>
                            <div class="value">
                                <div class="input-group">
                                    @Html.TextBox("EMAIL", "", new { @class = "input--style-5" })
                                    @Html.ValidationMessageFor(Model => Model.EMAIL)
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">NGAYSINH</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="date" name="NGAYSINH" />
                                    @Html.ValidationMessageFor(Model => Model.NGAYSINH)
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Số Điện Thoại</div>
                            <div class="value">
                                <div class="input-group">
                                    @Html.TextBox("SDT", "", new { @class = "input--style-5" })
                                    @Html.ValidationMessageFor(Model => Model.SDT)
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">CCCD</div>
                            <div class="value">
                                <div class="input-group">
                                    @Html.TextBox("CCCD", "", new { @class = "input--style-5" })
                                    @Html.ValidationMessageFor(Model => Model.CCCD)
                                </div>
                            </div>
                        </div>
                        <div>
                            <button class="btn btn--radius-2 btn--red" type="submit">Đăng Ký</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <span style="color:red;">@ViewBag.ThongBao</span>
        <span style="color:red;">@ViewBag.loi</span>
    </div>
    

    <!-- Jquery JS-->
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="~/Content/vendor/select2/select2.min.js"></script>
    <script src="~/Content/vendor/datepicker/moment.min.js"></script>
    <script src="~/Content/vendor/datepicker/daterangepicker.js"></script>

    <!-- Main JS-->
    <script src="~/Content/js/global.js"></script>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
<!-- end document-->

@{
    ViewBag.Title = "DangKy";
    Layout = "~/Views/Layout/_HomeLayout.cshtml";
}

<h2>DangKy</h2>

